.Feed {
    // height: calc(100vh - 60px);
    margin-top: 60px;
    
    .container {
        display: flex;
        gap: 20px;
        
    }
    .left-part {
        flex: 2;
        overflow-y: auto;
    }
    .right-part {
        flex: 1;
        margin-top: 20px;
    }

    .suggestions {
        margin-top: 40px;
    }

    .title {
        margin-bottom: 12px;
        font-weight: bold;
    }
    
}

@media (max-width: 720px) {
    .Feed{
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid red;
        padding: 20px;
        .title{
            margin-bottom: 0px;
        }
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        .right-part{
            display: flex;
            flex-direction: column;
            .following,.suggestions{
                display: flex;
                // grid-template-columns: 1fr;
                
                flex-direction: column;
                // width: 100%;
                // flex-wrap: wrap;
                
                // flex-direction: column;
                gap: 20px;
                .suggestions-div{
                    display: flex;
                    gap: 20px;
                    overflow-x: scroll;
                ::-webkit-scrollbar{
                    display: none;
                }
                }
            }
        }
    }  
        
    }
    
    
    // .container{
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     margin: 0 20px;
    // }
    // .right-part{
    //     display: none;
    // }
}