.Navbar {
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    height: 60px;
    border-bottom: 1px solid var(--border-color);

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .right-side {
        display: flex;
        gap: 20px;
        align-items: center;

        .logout {
            font-size: 1.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

@media (max-width: 720px) {
    .Navbar{
        width: 100%;
        padding: 20px;
    }
    .Navbar h2{
        font-size: 16px;
    }
    .Navbar .right-side .logout{
        font-size: 1.8rem;
    }
}